<ion-view view-title="Home" cache-view="false">
  <ion-header-bar class="bar-stable">
    <img class="logo-image" src="./img/kidup_logo_icon.png" align-title="center" />
    <!--
    <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()"></button>
    -->
    <h1 class="title">Home</h1>
  </ion-header-bar>
  <ion-content>
    <!--
	<a href="#/home">Home</a>
  	<a href="#/task">Tasks</a>
  	 <a href="#/registered">Registered</a>
  	<a href="#/profile">Profile</a>
    -->

  	<h1>Add Task<h1>
      <div>
    <form novalidate class="simple-form">
      <div class="list padding">
        <label class="item item-input">
              <input type="text" ng-model="task.desc" placeholder="Description" />
        </label>
        <label class="item item-input">
              <input type="number" ng-model="task.time" placeholder="Time" />
        </label>
      </div>
      <br />

      <input class="button button-block button-positive" type="submit" ng-click="addTask(task)" value="Submit" />
      <br>
    </form>
    </div>
  </ion-content>

  <div class="bar bar-footer" >
    <div class="tabs-striped tabs-color-positive">
      <div class="tabs tabs-icon-top">
        <a class="tab-item active" href="#/home">
          <i class="icon ion-home"></i>
          Home
        </a>
        <a class="tab-item" href="#/task">
          <i class="icon ion-clipboard"></i>
          Tasks
        </a>
        <a class="tab-item" href="#/profile">
          <i class="icon ion-person"></i>
          Profile
        </a>
      </div>
    </div>
    <!--


    <div class="title">
      <button ng-click="logout()" class="button button-clear">Logout</button>
    </div>
    -->
  </div>
</ion-view>
