<ion-view view-title="List Kid" cache-view="false">
  <ion-header-bar class="bar-stable">
    <img class="logo-image" src="./img/kidup_logo_icon.png" />
    <!--<h1 class="title">List Kid</h1>-->
  </ion-header-bar>
  <ion-content>
    <!-- OLD STUFF
  	<div ng-repeat="kid in kids track by $index">
	  <button class="button button-balanced icon-right ion-person" ng-click="showKid(kids[$index]._id)">{{kids[$index].name}}</button>
  	</div>
    -->
    <ion-list ng-repeat="kid in kids track by $index">
      <ion-item ng-click="showKid(kids[$index]._id)">
        {{kids[$index].name}}
      </ion-item>
    </ion-list>
    <button class="button button-block button-positive" ng-click="addKid()">Add Kid</button>
  </ion-content>
  <div class="bar bar-footer bar-assertive" >
  	<div class="title">
  		<button ng-click="logout()" class="button button-clear">Logout</button>
  	</div>
  </div>
</ion-view>
