<ion-view class="homescreen" view-title="Log In" cache-view="false">

  <ion-header-bar class="bar-stable">
    <img class="logo-image" src="./img/kidup_logo_icon.png" />
    <!--<h1 class="title">Login</h1>-->
  </ion-header-bar>
  <ion-content>
    <form novalidate class="simple-form padding">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="userName" ng-model="userName">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="password">
        </label>

      </div>
      <!--<label>Email: <input type="text" ng-model="email" /></label><br /> -->

      <!-- OLD BUTTON
      <input class="button button-block button-balanced icon-right ion-home" type="submit"  value="Login" />
      -->
      <button class="loginbutton button button-balanced icon-right ion-log-in centerButton" ng-click="signIn(userName, password)">Login</button>
      <!-- OLD BUTTON
      <input class="button button-block button-balanced" type="button" ng-click="signUp()" value="Signup" />
      -->
      <button class="button button-balanced icon-right ion-clipboard centerButton" ng-click="signUp()">Signup</button>
    </form>
  </ion-content>
</ion-view>
