/* Empty. Add your own CSS if you like */

ion-view {
  background: url("../img/splash_screen.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
/*
form {
  margin-top: 80%;
}
*/

.logo-image {
    margin-top: 0px;
    height: 30px;
    vertical-align:middle;
}
.centerButton {
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
}
